<button type="button" class="btn btn-primary" (click)="setText('promessi_sposi.txt')" >I promessi sposi</button>
<button type="button" class="btn btn-primary" (click)="setText('alice.txt')" >Alice nel paese delle meraviglie</button>
<button type="button" class="btn btn-primary" (click)="setText('divina_commedia.txt')" >La Divina Commedia</button>
<button type="button" class="btn btn-primary" (click)="setText('verga_i_malavoglia.txt')" >I Malavoglia</button>
<button type="button" class="btn btn-primary" (click)="setText('cecco_angiolieri_rime.txt')" >Rime (Cecco Angiolieri)</button>
<button type="button" class="btn btn-primary" (click)="setText('boccaccio_decameron.txt')" >Decameron</button>

<canvas id="my_canvas" width="900" height="500"></canvas>